/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

/* Utilities */
body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background: whitesmoke;
  color: #333;
}

h1 {
  display: block;
  font-size: 3rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2, h3, h4 {
  font-family: 'Poppins', Arial, sans-serif;
  text-align: center;
}

a.btn-flat {
  text-decoration: none;

}
.btn-flat {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: whitesmoke;
}
/* Custom design below! */
