.banner {
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}

.banner p {
  color: whitesmoke;
  font-size: 1.5rem;
  white-space: nowrap; /* Prevent text wrapping */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.banner .container {
  padding-top: 50px; /* pushes text down */
}
